.idea
__pycache__
/data/codeface/*
/data/kaiaulu/*
/data/git-repos/*
!/data/git-repos/.gitkeep
!/data/codeface/.gitkeep
!/data/kaiaulu/.gitkeep
/figures/*
/log/*
!/log/.gitkeep
/results/*
!/results/.gitkeep
.RData
.Rhistory
*.tex
!img.tex
*.pdf
*.csv
/paper/*
/plot/build
/plot/img-gen
/plot/img-pdf
/plot/img-tikz
.Rproj.user
/tools/codeface/log/*
!/tools/codeface/log/.gitkeep
